include LICENSE.txt
include requirements.txt
include qiskit_nature_pyscf/py.typed
recursive-include qiskit_nature_pyscf *.txt
graft test
prune docs
prune tools
prune tutorials
global-exclude *.py[co] .DS_Store
